body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

.hidden {
  display: none;
}

.login-section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(191, 131, 131, 0.2);
  width: 300px;
  margin: auto;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background-color: rgb(73, 73, 237);
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
button:hover {
  transition: 0.3s ease-out;
  background-color: rgb(145, 186, 248);
  color: black;
}

.atm-menu {
  margin-top: 20px;
}

.deposit-section {
  background-color: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(191, 131, 131, 0.2);
  width: 300px;
  margin: auto;
}

.deposit {
  color: green;
  font-weight: bold;
}

.withdraw {
  color: red;
}

.deposit-section input,
.withdraw-section input {
  width: 45%;
  margin: 0 auto;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.transaction-history {
  background-color: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(191, 131, 131, 0.2);
  width: 300px;
  margin: 30px auto;
}

.transaction-list {
  list-style-type: none;
  padding: 0;
}
.transaction-list li {
  background-color: #ddd;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
